<section id="main"  data-sly-use.items="items.js" data-sly-test="${items.count}">
    <input id="toggle-all" type="checkbox">
    <label for="toggle-all">${properties.labelToggleAll}</label>
    <ul id="todo-list" data-sly-list="${resource.listChildren}">
        <output data-sly-resource="${item.name}" data-sly-unwrap/>
    </ul>
</section>

<footer id="footer" data-sly-test="${items.count}">
    <span id="todo-count"> ${properties.labelCountActive @ format=items.active, context='html'}</span>
    <!--/*
    <ul id="filters">
        <li>
            <a class="selected" href="#/">${properties.labelSelectAll}</a>
        </li>
        <li>
            <a href="#/active">${properties.labelSelectActive}</a>
        </li>
        <li>
            <a href="#/completed">${properties.labelSelectCompleted}</a>
        </li>
    </ul>
    */-->
    <button id="clear-completed" data-sly-test="${items.completed}">${properties.labelClearCompleted @ format=items.completed}</button>
</footer>