<!doctype html>
<html lang="en" data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>${properties.jcr:title}</title>
        <output data-sly-call="${clientLib.css @ categories='todo'}" data-sly-unwrap>
	</head>

	<body>
		<section id="todoapp"
                 data-main-path="${currentPage.path @ context='uri'}.main.html"
                 data-footer-path="${currentPage.path @ context='uri'}.footer.html"
                 data-item-path="${resource.path @ context='uri'}"
                 data-item-resource-type="${properties.itemResourceType @ context='uri'}">
            
			<header id="header">
                <h1>${properties.jcr:title}</h1>
                <input id="new-todo" placeholder="${properties.labelNewItem}" autofocus>
            </header>

			<!--/* This section should be hidden by default and shown when there are todos */-->
			<section id="main" data-sly-include="main.html"></section>

			<!--/* This footer should hidden by default and shown when there are todos */-->
			<footer id="footer" data-sly-include="footer.html"></footer>
		</section>

		<footer id="info">
			<p>${'Double-click to edit a todo' @ i18n}</p>
			<p><a href="http://twitter.com/gabrielwalt">${'Created by Gabriel Walt' @ i18n}</a></p>
			<p><a href="http://todomvc.com">${'Part of TodoMVC' @ i18n}</a></p>
		</footer>

        <output data-sly-call="${clientLib.js @ categories='todo'}" data-sly-unwrap>
	</body>
</html>
