<li class="${properties.completed && 'completed'}" data-sly-use.model="item.js" data-sly-test="${model.show}">
    <div class="view">
        <input class="toggle" type="checkbox" checked="${properties.completed}" data-sly-attribute="${model.toggleItemAttributes}">
        <label>${properties.jcr:title}</label>
        <button class="destroy" data-sly-attribute="${model.destroyItemAttributes}"></button>
    </div>
    <input class="edit" value="${properties.jcr:title}" data-sly-attribute="${model.updateItemAttributes}">
</li>